---
Language: Cpp
BasedOnStyle: LLVM
AccessModifierOffset: -4
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: true
AlwaysBreakTemplateDeclarations: Yes
ReflowComments: true
PenaltyBreakComment: 1000000000
ColumnLimit: 90
IndentWidth: 4
TabWidth: 4
UseTab: Never