---
Language: Cpp
BasedOnStyle: LLVM
AccessModifierOffset: -2
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: true
AlwaysBreakTemplateDeclarations: Yes
ColumnLimit: 90
IndentWidth: 2
TabWidth: 2
UseTab: Never